body {
<<<<<<< HEAD
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Jost";
  src: url(fonts/jost-book.woff2), url(fonts/jost-book.woff);
}
body {
  background-color: #ca774a;
  color: white;
  font-family: "Jost";
  font-size: 24px;
  line-height: 1.5;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

section {
  width: 500px;
}
@media (max-width: 600px) {
  section {
    width: 350px;
    font-size: 16px;
  }
}
section p {
  margin: 24px 0 0 0;
=======
    background-color: red;
    color: white;
>>>>>>> parent of e85c7e0... landing page ready to go
}
